# Makefile for libfsm
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = fsm

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	action_connector.cpp \
	constant.cpp \
	fsm_manager.cpp \
	memory.cpp \
	names_db.cpp \
	parser.cpp \
	process.cpp \
	sdl_gr_helper.cpp \
	signal_handler.cpp \
	state.cpp \
	str_helper_expr.cpp \
	str_helper.cpp \
	timer.cpp \
	value_operations.cpp \
	value.cpp \
	variable.cpp \

LIB_EXT_LIB_NAMES = \
	utils \
	scheduler \
