# Makefile for libfsm
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = fsm

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	action_connector.cpp \
	constant.cpp \
	fsm.cpp \
	fsm_manager.cpp \
	parser.cpp \
	signal_handler.cpp \
	state.cpp \
	timer.cpp \
	value.cpp \
	variable.cpp \

LIB_EXT_LIB_NAMES = \
	utils \
	scheduler \
